/* ------ CSS RESET ------ */
/* Full CSS Reset (https://piccalil.li/blog/a-more-modern-css-reset/) by Andy Bell */
/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1, h2 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* ------ VARIABLE ------ */
:root {
    /* COLOR */
    --clr-primary-100: hsl(210, 46%, 95%);
    --clr-primary-300: hsl(212, 23%, 69%);
    --clr-primary-500: hsl(214, 17%, 51%);
    --clr-primary-700: hsl(217, 19%, 35%);

    /* TYPOGRAPHY */
    --ff-primary: "Manrope", system-ui;
    --fs-articleTitle: clamp(1rem, 0.9286rem + 0.3571vi, 1.25rem);;
    --fs-articleBody: .8125rem;
}

/* ------ TYPOGRAPHY ------ */
.article__copy h1 {
    font-size: var(--fs-articleTitle);
    letter-spacing: .2px;
}

.article__copy p,
.article__info h2,
.article__info time {
    font-size: var(--fs-articleBody);
    letter-spacing: .12px;
}

/* ------ LAYOUT ------ */
body {
    background: var(--clr-primary-100);
    font-family: var(--ff-primary);
    align-content: center;
    margin-inline: 1.5rem;
}

.article {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    max-width: 730px;
    margin-inline: auto;
    border-radius: 10px;
    overflow: hidden;
}

.article__content {
    max-width: 500px;
    padding-block: 2.25em 1.25em;
    padding-inline: 2em;
}

.article__copy h1,
.article__info h2 {
    color: var(--clr-primary-700);
}

.article__copy p {
    color: var(--clr-primary-500);
    margin-block-start: 12px;
    font-weight: 500;
}

.article__info time {
    color: var(--clr-primary-300);
    font-weight: 500;
}

.article__footer {
    display: flex;
    justify-content: space-between;
    margin-block-start: 2rem;
}

.article__info {
    display: flex;
    gap: 1rem;
}

.article__avatar {
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
}

.share-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--clr-primary-100);
    width: 2rem;
    height: 2rem;
    border: transparent;
    clip-path: circle(50%);
}